$text-color-major: #282828;
$accent-color-major: #55D287;
$accent-color-minor: #EEB83B;
$cart-counter-text-color: white;
$text-color-accent: #838B8E;
$card-bg-color: #F6F7F8;
$submit-bg-color: #EAECEE;
$submit-input-bg-color: #ffffff;