@use './color_scheme.scss';
.container  {
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 1440px) {
  .container {
    width: 1408px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media (min-width: 1024px ) and (max-width: 1439px) {
  .container {
    width: 928px;
  }
  
}
@media  (min-width: 768px) and (max-width: 1023px) {
  .container {
    width: 688px;
  }
  
}
@media  (max-width: 767px) {
  .container {
    width: 100%;
    padding: 0 20px;
  }
  
}

body {
  font-family: 'ProximaNova-Regular', sans-serif;
  font-size: 14px;

  a {
    color: color_scheme.$text-color-major;
  }
}

.btn-major {
  font-family: 'ProximaNova-SemiBold', sans-serif;
  background-color: color_scheme.$accent-color-major;
  color: color_scheme.$cart-counter-text-color;
  font-size: 18px;
  border-radius: 16px;
  padding:  22px 56px;
}
.btn-major:hover {
  
}
