@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

input[type=file] {
  max-width: 100%;
}

.container {
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 1440px) {
  .container {
    width: 1408px;
    margin-right: auto;
    margin-left: auto;
  }
}
@media (min-width: 1024px) and (max-width: 1439px) {
  .container {
    width: 928px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .container {
    width: 688px;
  }
}
@media (max-width: 767px) {
  .container {
    width: 100%;
    padding: 0 20px;
  }
}
body {
  font-family: "ProximaNova-Regular", sans-serif;
  font-size: 14px;
}
body a {
  color: #282828;
}

@media (min-width: 1024px) and (max-width: 1439px) {
  body {
    font-size: 12px;
  }
}
@font-face {
  font-family: "ProximaNova-Bold";
  src: url("./fonts/proximanova/ProximaNova-Bold.woff") format("woff"), url("./fonts/proximanova/ProximaNova-Bold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "ProximaNova-Regular";
  src: url("./fonts/proximanova/ProximaNova-Regular.woff") format("woff"), url("./fonts/proximanova/ProximaNova-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "ProximaNova-Light";
  src: url("./fonts/proximanova/ProximaNova-Light.woff") format("woff"), url("./fonts/proximanova/ProximaNova-Light.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "ProximaNova-SemiBold";
  src: url("./fonts/proximanova/ProximaNova-Semibold.woff") format("woff"), url("./fonts/proximanova/ProximaNova-Semibold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
.header__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 32px 0px;
  font-family: "ProximaNova-SemiBold", sans-serif;
  font-size: 16px;
}
.header__container a:visited {
  color: #282828;
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .header__container {
    padding: 25px 0px;
    font-size: 12px;
  }
}
.menu__cart {
  position: relative;
  margin-right: 9px;
}

.menu__cart-counter-wrap {
  position: absolute;
  top: -7px;
  left: 12px;
  background-color: #55D287;
  padding: 3px;
  border-radius: 50%;
}

.menu__cart-counter {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 10px;
  color: white;
}

.navigate__list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.menu__list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 38px;
}
.menu__list a {
  color: #282828;
}
.menu__list a:visited {
  color: #282828;
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .navigate__list {
    gap: 26px;
  }
  .menu__list {
    gap: 24px;
  }
}
.menu__item:first-child {
  margin-right: -8px;
}

.breadcrumbs__container {
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 16px 0 32px 0;
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .breadcrumbs__container {
    padding: 14px 0 51px 0;
  }
}
.breadcrumbs__list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 9px;
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .breadcrumbs__list {
    font-size: 12px;
    gap: 5px;
  }
}
.breadcrumbs__item:last-child {
  color: #838B8E;
}
.breadcrumbs__item:not(:last-child)::after {
  content: "/";
  width: 35px;
  height: 35px;
  padding-left: 5px;
}

.showrooms__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 60px;
}

.showrooms__title {
  font-family: "ProximaNova-Bold", sans-serif;
  font-size: 56px;
  margin-bottom: 22px;
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .showrooms__title {
    font-size: 44px;
    margin-bottom: 12px;
  }
}
.showrooms__p {
  font-family: "ProximaNova-SemiBold", sans-serif;
  font-size: 16px;
  line-height: 24px;
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .showrooms__p {
    font-size: 14px;
    line-height: 21px;
  }
}
.showrooms__content {
  width: 40%;
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .showrooms__content {
    width: 47%;
  }
}
.showrooms__map {
  width: 60%;
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .showrooms__map {
    width: 46.5%;
  }
}
.showrooms__iframe {
  width: 100%;
  border-radius: 20px;
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .showrooms__iframe {
    height: 235px;
  }
}
.showrooms {
  margin-bottom: 74px;
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .showrooms {
    margin-bottom: 83px;
  }
}
.showroom__content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 87px;
  row-gap: 15px;
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .showroom__content {
    flex-direction: column;
    row-gap: 28px;
  }
}
.showroom__contact {
  width: 45%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .showroom__contact {
    gap: 10px;
  }
}
.showroom__collection {
  width: 45%;
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .showroom__collection {
    order: 2;
    width: 100%;
  }
}
.showroom__container {
  font-size: 16px;
  display: flex;
  flex-direction: column;
  gap: 39px;
  padding-bottom: 74px;
}

.showroom__container:not(:last-child) {
  border-bottom: solid 1px #838B8E;
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .showroom__container {
    font-size: 14px;
    gap: 37px;
    padding-bottom: 62px;
  }
}
.showroom__list {
  display: flex;
  flex-direction: column;
  gap: 75px;
}

.showroom__thumbnails-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .showroom__thumbnails-list {
    overflow: auto;
    overflow-x: auto;
    overflow-y: hidden;
    gap: 32px;
    padding-bottom: 28px;
    scrollbar-width: 2px;
  }
}
@media (min-width: 1024px) and (max-width: 1439px) {
  .showroom__thumbnails-item {
    flex-shrink: 0;
  }
}
.showroom__address,
.showroom__phone,
.showroom__time {
  display: flex;
  flex-direction: row;
}

.showroom__collection-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 9px;
}

.showroom__phone-content a {
  font-family: "ProximaNova-SemiBold", sans-serif;
}

.showroom__title-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
}

.showroom__title {
  font-family: "ProximaNova-Bold", sans-serif;
  font-size: 40px;
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .showroom__title {
    font-size: 36px;
  }
}
.showroom__label {
  font-family: "ProximaNova-SemiBold", sans-serif;
  background-color: #EEB83B;
  color: white;
  border-radius: 25px;
  padding: 5px 8px;
  font-size: 14px;
}

.showroom__label_disabled {
  display: none;
}

.showroom__sub-title {
  color: #838B8E;
  margin-right: 9px;
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .showroom__sub-title {
    font-size: 14px;
  }
}
.showroom__to-map-link {
  font-family: "ProximaNova-SemiBold", sans-serif;
}

.showroom__collection-title {
  font-family: "ProximaNova-SemiBold", sans-serif;
  font-size: 22px;
  margin-bottom: 21px;
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .showroom__collection-title {
    font-size: 20px;
  }
}
.showroom__tag {
  font-family: "ProximaNova-SemiBold", sans-serif;
}

.showroom__thumbnail-img {
  border-radius: 20px;
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .showroom__thumbnail-img {
    width: 422px;
    height: 282px;
  }
}
.showroom__btn-container {
  align-self: center;
  padding: 20px 0;
}

.advantages__list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .advantages__list {
    flex-wrap: wrap;
    gap: 32px;
  }
}
.advantages__title {
  font-family: "ProximaNova-SemiBold", sans-serif;
  font-size: 18px;
  text-align: center;
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .advantages__title {
    font-size: 16px;
  }
}
.advantages__item {
  width: 208px;
  height: 128px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  background-color: #F6F7F8;
  border-radius: 20px;
  padding: 16px 0 0 0;
  gap: 8px;
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .advantages__item {
    width: 288px;
    height: 128px;
  }
}
.advantages {
  margin-bottom: 158px;
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .advantages {
    margin-bottom: 119px;
  }
}
@media (min-width: 1024px) and (max-width: 1439px) {
  .advantages__container {
    padding-top: 57px;
  }
}
.submit {
  margin-bottom: 120px;
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .submit {
    margin-bottom: 100px;
  }
}
input[type=submit] {
  cursor: pointer;
}

.submit__container {
  background-color: #EAECEE;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px 0;
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .submit__container {
    padding: 32px 0;
  }
}
.submit__title {
  font-family: "ProximaNova-Bold", sans-serif;
  font-size: 48px;
  margin-bottom: 51px;
  margin-bottom: 36px;
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .submit__title {
    font-size: 40px;
  }
}
.submit__form {
  display: grid;
  grid-template-columns: 288px 288px;
  grid-template-rows: repeat(3, 56px);
  align-items: center;
  justify-content: center;
  gap: 21px;
}
.submit__form input {
  padding: 0 16px;
  height: 100%;
  background-color: #ffffff;
  border-radius: 14px;
}
.submit__form input::placeholder {
  font-size: 16px;
  color: #838B8E;
}
.submit__form .submit__form-btn {
  background-color: #55D287;
  align-self: center;
  justify-self: center;
  width: 202px;
  padding: 16px;
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .submit__form input::placeholder {
    font-size: 14px;
  }
  .submit__form .submit__form-btn {
    width: 195px;
  }
}
.submit__form-name {
  grid-column: span 2;
}

.submit__form-btn {
  grid-column: span 2;
}

.submit__form-agreement {
  grid-column: span 2;
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .submit__form-agreement {
    justify-self: center;
    font-size: 12px;
  }
}
.footer_border {
  border-top: solid 1px #838B8E;
  padding: 40px 0;
}

.footer__section-list {
  display: flex;
  flex-direction: column;
  gap: 19px;
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .footer__section-list {
    display: block;
    columns: 3;
  }
}
.footer__link-container {
  padding-bottom: 34px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-bottom: 41px;
  border-bottom: solid 1px #CED3D9;
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .footer__link-container {
    grid-template-columns: repeat(1, 1fr);
    gap: 32px;
  }
}
.footer__section-title {
  font-family: "ProximaNova-SemiBold", sans-serif;
  font-size: 20px;
  margin-bottom: 21px;
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .footer__section-title {
    font-size: 18px;
  }
}
@media (min-width: 1024px) and (max-width: 1439px) {
  .footer__section-item {
    margin-bottom: 22px;
  }
}
.footer__section.service .footer__section-list {
  display: grid;
  grid-template-columns: repeat(2, 256px);
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .footer__section.service .footer__section-list {
    display: block;
    columns: 3;
  }
}
.footer__city-wrap,
.footer__phone-wrap,
.footer__email-wrap,
.footer__wathsapp-wrap {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 10px;
}

.footer__city-name {
  font-family: "ProximaNova-SemiBold", sans-serif;
  font-size: 16px;
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .footer__city-name {
    font-size: 14px;
  }
}
.footer__phone {
  font-family: "ProximaNova-SemiBold", sans-serif;
  font-size: 18px;
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .footer__phone {
    font-size: 16px;
  }
}
.footer__email {
  font-family: "ProximaNova-SemiBold", sans-serif;
  font-size: 16px;
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .footer__email {
    font-size: 14px;
  }
}
.footer__wathsapp {
  font-family: "ProximaNova-SemiBold", sans-serif;
  font-size: 16px;
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .footer__wathsapp {
    font-size: 14px;
  }
}
.footer__section.catalog .footer__section-list-container {
  margin-bottom: 24px;
}

.footer__section.about-company {
  padding-left: 40px;
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .footer__section.about-company {
    padding-left: 0;
    margin-top: -9px;
    margin-bottom: 9px;
  }
}
.footer__section.contacts {
  padding-left: 40px;
  display: flex;
  flex-direction: column;
  gap: 34px;
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .footer__section.contacts {
    padding-left: 0px;
    flex-direction: row;
    gap: 225px;
  }
}
@media (min-width: 1024px) and (max-width: 1439px) {
  .footer__social {
    margin-left: -71px;
  }
}
.footer__social-wrap {
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.footer__contact-wrap {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .footer__contact-wrap {
    gap: 13px;
  }
}
.footer-section__btn {
  width: 130px;
  padding-right: 7px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .footer-section__btn {
    width: 113px;
  }
}
.footer-section__btn-name {
  font-family: "ProximaNova-SemiBold", sans-serif;
  font-size: 16px;
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .footer-section__btn-name {
    font-size: 14px;
  }
}
.footer__company-rate {
  font-family: "ProximaNova-SemiBold", sans-serif;
  font-size: 28px;
}

.footer__copyrights-wrap {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-right: 42px;
  gap: 35px;
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .footer__copyrights-wrap {
    font-size: 14px;
  }
}
.footer__private-policy a {
  font-family: "ProximaNova-SemiBold", sans-serif;
}

.footer__company-rating-wrap {
  display: flex;
  align-items: center;
  gap: 8px;
}

.footer__company-rate-star-list {
  display: flex;
  align-items: center;
  gap: 2px;
}

.btn-major {
  font-family: "ProximaNova-SemiBold", sans-serif;
  background-color: #55D287;
  color: white;
  font-size: 18px;
  border-radius: 16px;
  padding: 17px 56px;
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .btn-major {
    font-size: 16px;
    padding: 18px 56px;
  }
}

/*# sourceMappingURL=styles.css.map */
