@use './reset.scss';
@use './global.scss';

@use './blocks/header/header.scss';
@use './blocks/breadcrumbs/breadcrumbs.scss';
@use './blocks/showrooms/showrooms.scss';
@use './blocks/showroom/showroom.scss';
@use './blocks/advantages/advantages.scss';
@use './blocks/submit/submit.scss';

@use './fonts/fonts';
@use './color_sheme.scss';

 