@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

input[type=file] {
  max-width: 100%;
}

.container {
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 1440px) {
  .container {
    width: 1408px;
    margin-right: auto;
    margin-left: auto;
  }
}
@media (min-width: 1024px) and (max-width: 1439px) {
  .container {
    width: 928px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .container {
    width: 688px;
  }
}
@media (max-width: 767px) {
  .container {
    width: 100%;
    padding: 0 20px;
  }
}
body {
  font-family: "ProximaNova-Regular", sans-serif;
  font-size: 14px;
}
body a {
  color: #282828;
}

@font-face {
  font-family: "ProximaNova-Bold";
  src: url("./fonts/proximanova/ProximaNova-Bold.woff") format("woff"), url("./fonts/proximanova/ProximaNova-Bold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "ProximaNova-Regular";
  src: url("./fonts/proximanova/ProximaNova-Regular.woff") format("woff"), url("./fonts/proximanova/ProximaNova-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "ProximaNova-Light";
  src: url("./fonts/proximanova/ProximaNova-Light.woff") format("woff"), url("./fonts/proximanova/ProximaNova-Light.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "ProximaNova-SemiBold";
  src: url("./fonts/proximanova/ProximaNova-Semibold.woff") format("woff"), url("./fonts/proximanova/ProximaNova-Semibold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
.header__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 32px 0px;
  font-family: "ProximaNova-SemiBold", sans-serif;
  font-size: 16px;
}
.header__container a:visited {
  color: #282828;
}

.menu__cart {
  position: relative;
  margin-right: 9px;
}

.menu__cart-counter-wrap {
  position: absolute;
  top: -7px;
  left: 12px;
  background-color: #55D287;
  padding: 3px;
  border-radius: 50%;
}

.menu__cart-counter {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 10px;
  color: white;
}

.navigate__list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.menu__list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 38px;
}
.menu__list a {
  color: #282828;
}
.menu__list a:visited {
  color: #282828;
}

.menu__item:first-child {
  margin-right: -8px;
}

.breadcrumbs__container {
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 16px 0 32px 0;
}

.breadcrumbs__list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 9px;
}

.breadcrumbs__item:last-child {
  color: #838B8E;
}
.breadcrumbs__item:not(:last-child)::after {
  content: "/";
  width: 35px;
  height: 35px;
  padding-left: 5px;
}

.showrooms__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 60px;
}

.showrooms__title {
  font-family: "ProximaNova-Bold", sans-serif;
  font-size: 56px;
  margin-bottom: 22px;
}

.showrooms__p {
  font-family: "ProximaNova-SemiBold", sans-serif;
  font-size: 16px;
  line-height: 24px;
}

.showrooms__content {
  width: 40%;
}

.showrooms__map {
  width: 60%;
}

.showrooms__iframe {
  width: 100%;
  border-radius: 20px;
}

.showrooms {
  margin-bottom: 74px;
}

.showroom__content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 87px;
  row-gap: 15px;
}

.showroom__contact {
  width: 45%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.showroom__collection {
  width: 45%;
}

.showroom__container {
  font-size: 16px;
  display: flex;
  flex-direction: column;
  gap: 39px;
  padding-bottom: 74px;
}

.showroom__container:not(:last-child) {
  border-bottom: solid 1px #838B8E;
}

.showroom__list {
  display: flex;
  flex-direction: column;
  gap: 75px;
}

.showroom__thumbnails-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.showroom__address,
.showroom__phone,
.showroom__time {
  display: flex;
  flex-direction: row;
}

.showroom__collection-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 9px;
}

.showroom__phone-content a {
  font-family: "ProximaNova-SemiBold", sans-serif;
}

.showroom__title-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
}

.showroom__title {
  font-family: "ProximaNova-Bold", sans-serif;
  font-size: 40px;
}

.showroom__label {
  font-family: "ProximaNova-SemiBold", sans-serif;
  background-color: #EEB83B;
  color: white;
  border-radius: 25px;
  padding: 5px 8px;
  font-size: 14px;
}

.showroom__label_disabled {
  display: none;
}

.showroom__sub-title {
  color: #838B8E;
  margin-right: 9px;
}

.showroom__to-map-link {
  font-family: "ProximaNova-SemiBold", sans-serif;
}

.showroom__collection-title {
  font-family: "ProximaNova-SemiBold", sans-serif;
  font-size: 22px;
  margin-bottom: 21px;
}

.showroom__tag {
  font-family: "ProximaNova-SemiBold", sans-serif;
}

.showroom__thumbnail-img {
  border-radius: 20px;
}

.showroom__btn-container {
  align-self: center;
  padding: 20px 0;
}

.advantages__list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

input[type=submit] {
  cursor: pointer;
}

.btn-major {
  font-family: "ProximaNova-SemiBold", sans-serif;
  background-color: #55D287;
  color: white;
  font-size: 18px;
  border-radius: 16px;
  padding: 17px 56px;
}

/*# sourceMappingURL=styles.css.map */
