.showrooms__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 60px;
}
.showrooms__title {
  font-family: "ProximaNova-Bold", sans-serif;
  font-size: 56px;
  margin-bottom: 22px;
}
.showrooms__p {
  font-family: "ProximaNova-SemiBold", sans-serif;
  font-size: 16px;
  line-height: 24px;
}
.showrooms__content {
  
}
.showrooms__content {
  width: 40%;
}
.showrooms__map {
  width: 60%;
}
.showrooms__iframe {
  width: 100%;
  border-radius: 20px;
}
.showrooms {
  margin-bottom: 74px;
}