.showrooms__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 46px;
}
.showrooms__title {
  font-family: "ProximaNova-Bold", sans-serif;
  font-size: 56px;
  margin-bottom: 22px;
}
.showrooms__p {
  font-family: "ProximaNova-SemiBold", sans-serif;
  font-size: 16px;
  line-height: 24px;
}
.showrooms__content {
  
}
.showrooms__map {
  iframe {
    border-radius: 20px;
  }
}