.breadcrumbs__container {
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 16px 0 32px 0;
}
.breadcrumbs__list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 9px;
}
.breadcrumbs__item {

  &:not(:last-child) {
    &::after {
      content: "/";
      width: 35px;
      height: 35px;
      padding-left: 5px;
    }
  }
}