.header__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.navigate__list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 25px;
}
.menu__list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 25px;
}