@use '../../color_scheme.scss';
@use '../../fonts/fonts';

.logo__container {
  
}
@media  (max-width: 767px) {
  header .container{
    background-color: color_scheme.$card-bg-color;
  }
}
.header__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 32px 0px;
  font-family: 'ProximaNova-SemiBold', sans-serif;
  font-size: 16px;
  position: relative;
  a:visited {
    color: color_scheme.$text-color-major;
  }
}
@media (min-width: 1024px ) and (max-width: 1439px) {
  .header__container {
    padding: 25px 0px;
    font-size: 12px;
  }
  
}
@media  (min-width: 768px) and (max-width: 1023px) {
  .header__container {
    padding: 19px 0px;
  }
  
}
@media  (max-width: 767px) {
  .header__container {
    padding: 13px 0px;
  }
}
.navigate__container {
  
}
@media  (min-width: 768px) and (max-width: 1023px) {
  .ismobile_disabled {
    display: none;
  }
  .navigate__container {
    
  }
  
}
@media  (max-width: 767px) {
  .ismobile_disabled {
    display: none;
  }
}
.ismobile_enabled {
  display: none;
}
@media  (min-width: 768px) and (max-width: 1023px) {
  .ismobile_enabled {
    display: block;
  }
}
@media  (max-width: 767px) {
  .ismobile_enabled {
    display: block;
  }
}
.menu__phone {

}
@media  (min-width: 768px) and (max-width: 1023px) {
  
  
}

.menu__cart {
  position: relative;
  margin-right: 9px;
}
.menu__cart-counter-wrap {
  position: absolute;
  top: -1px;
  left: 20px;
  background-color: color_scheme.$accent-color-major;
  padding: 3px;
  border-radius: 50%;
}
.menu__cart-counter {
  @include fonts.montserrat-semibold;
  font-size: 10px;
  color: color_scheme.$cart-counter-text-color;
}
.navigate__list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
.menu__list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 22px;
  a {
    color: color_scheme.$text-color-major;
    
  }
  a:visited {
    color: color_scheme.$text-color-major;
  }
  
}
.menu__item-icon {
  width: 25px;
  height: 25px;
}
@media  (max-width: 1439px) {
  .menu__item-icon {
    width: 20px;
    height: 20px;
  }
}
@media (min-width: 1024px ) and (max-width: 1439px) {
  .navigate__list {
    gap: 26px;
  }
  .menu__list {
    gap: 9px;
    
  }
  
}
@media  (min-width: 768px) and (max-width: 1023px) {
  .menu__list {
    gap: 7px;
    
  }
}
@media  (max-width: 767px) {
  .menu__list {
    gap: 0px;
    
  }
}

.menu__item {
  &:not(:first-child) {
    width: 40px;
    height: 40px;
  }
  
  a {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
  &:first-child {
    //margin-right: -8px;
  }
}
.menu__mobile-btn-icon {
  width: 15px;
  height: 15px;
}
.navigate__link {
  border-bottom: 0px solid color_scheme.$accent-color-sup;
  transition: all 0.3s ease;
  &:hover {
    border-bottom: 1px solid color_scheme.$accent-color-major;
  }
}
@media  (min-width: 768px) and (max-width: 1023px) {
  
  
}
@media  (max-width: 767px) {
  
  
}

