@use '../../color_scheme.scss';
@use '../../fonts/fonts';

.logo__container {
  
}
.header__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 32px 0px;
  font-family: 'ProximaNova-SemiBold', sans-serif;
  font-size: 16px;
  a:visited {
    color: color_scheme.$text-color-major;
  }
}
@media (min-width: 1024px ) and (max-width: 1439px) {
  .header__container {
    padding: 25px 0px;
    font-size: 12px;
  }
  
}
@media  (min-width: 768px) and (max-width: 1023px) {
  .header__container {
    padding: 19px 0px;
  }
  
}
.navigate__container {
  
}
@media  (min-width: 768px) and (max-width: 1023px) {
  .navigate__container {
    display: none;
  }
  
}
.menu__phone {

}
@media  (min-width: 768px) and (max-width: 1023px) {
  .menu__phone {
    display: none;
  }
  
}
.menu__cart {
  position: relative;
  margin-right: 9px;
}
.menu__cart-counter-wrap {
  position: absolute;
  top: -7px;
  left: 12px;
  background-color: color_scheme.$accent-color-major;
  padding: 3px;
  border-radius: 50%;
}
.menu__cart-counter {
  @include fonts.montserrat-semibold;
  font-size: 10px;
  color: color_scheme.$cart-counter-text-color;
}
.navigate__list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
.menu__list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 38px;
  a {
    color: color_scheme.$text-color-major;
  }
  a:visited {
    color: color_scheme.$text-color-major;
  }
  
}
@media (min-width: 1024px ) and (max-width: 1439px) {
  .navigate__list {
    gap: 26px;
  }
  .menu__list {
    gap: 24px;
    
  }
  
}
.menu__item {
  &:first-child {
    margin-right: -8px;
  }
}
@media  (min-width: 768px) and (max-width: 1023px) {
  
  
}

