@use '../../color_scheme.scss';

.showroom__content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 87px;
  row-gap: 15px;
  
}
@media (min-width: 1024px ) and (max-width: 1439px) {
  .showroom__content {
    flex-direction: column;
    row-gap: 28px;
  }
}
@media  (min-width: 768px) and (max-width: 1023px) {
  .showroom__content {
    column-gap: 50px;
    row-gap: 0px;
  }
}
@media  (max-width: 767px) {
  .showroom__content {
    column-gap: 50px;
    row-gap: 22px;
  }
}
.showroom__contact {
  width: 45%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
@media (min-width: 1024px ) and (max-width: 1439px) {
  .showroom__contact {
    gap: 10px;
  }
}
@media  (max-width: 767px) {
  .showroom__contact {
    width: 100%;
  }
}
.showroom__collection {
  width: 45%;
}
@media (min-width: 1024px ) and (max-width: 1439px) {
  .showroom__collection {
    order: 2;
    width: 100%;
  }
}
@media  (max-width: 767px) {
  .showroom__collection {
    order: 2;
    width: 100%;
  }
}
.showroom__container {
  font-size: 16px;
  display: flex;
  flex-direction: column;
  gap: 39px;
  padding-bottom: 74px;
  
}
.showroom__container {

  &:not(:last-child) {
    border-bottom: solid 1px color_scheme.$text-color-accent;
  }
}
@media (min-width: 1024px ) and (max-width: 1439px) {
  .showroom__container {
    font-size: 14px;
    gap: 37px;
    padding-bottom: 62px;
  }
}
@media  (min-width: 768px) and (max-width: 1023px) {
  .showroom__container {
    font-size: 14px;
    gap: 33px;
    padding-bottom: 62px;
  }
}
@media  (max-width: 767px) {
  .showroom__container {
    font-size: 14px;
    gap: 26px;
    padding-bottom: 43px;
  }
}
.showroom__list {
  display: flex;
  flex-direction: column;
  gap: 75px;
  margin-bottom: 86px;
}
@media (min-width: 1024px ) and (max-width: 1439px) {
  .showroom__list {
    gap: 63px;
    margin-bottom: 0px;
  }
}
@media  (min-width: 768px) and (max-width: 1023px) {
  .showroom__list {
    gap: 63px;
    margin-bottom: 55px;
  }
}
@media  (max-width: 767px) {
  .showroom__list {
    gap: 48px;
    margin-bottom: 55px;
  }
  
}
.showroom__thumbnails-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
@media (min-width: 1024px ) and (max-width: 1439px) {
  .showroom__thumbnails-list {
    overflow: auto;
    overflow-x: auto;
    overflow-y: hidden;
    gap: 32px;
    padding-bottom: 28px;
    
  }
}
@media  (min-width: 768px) and (max-width: 1023px) {
  .showroom__thumbnails-list {
    overflow: auto;
    overflow-x: auto;
    overflow-y: hidden;
    gap: 32px;
    padding-bottom: 34px;
    
  }
  
}
@media  (max-width: 767px) {
  .showroom__thumbnails-list {
    overflow: auto;
    overflow-x: auto;
    overflow-y: hidden;
    gap: 32px;
    padding-bottom: 34px;
  }
}
.showroom__thumbnails-item {
  position: relative;
}
@media (min-width: 1024px ) and (max-width: 1439px) {
  .showroom__thumbnails-item {
    flex-shrink: 0;
  }
}
@media  (min-width: 768px) and (max-width: 1023px) {
  .showroom__thumbnails-item {
    flex-shrink: 0;
  }
}
@media  (max-width: 767px) {
  .showroom__thumbnails-item {
    flex-shrink: 0;
  }
}
.showroom__address,
.showroom__phone,
.showroom__time {
  display: flex;
  flex-direction: row;
}
@media  (min-width: 768px) and (max-width: 1023px) {
  .showroom__address {
    flex-direction: column;
  }
}
@media  (max-width: 767px) {
  .showroom__address {
    flex-direction: column;
  }
}
.showroom__collection-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 9px;
}
@media  (max-width: 767px) {
  .showroom__collection-list {
    gap: 11px;
  }
}
.showroom__phone-content {
  a {
    font-family: "ProximaNova-SemiBold", sans-serif;
  }
  
}
.showroom__title-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  
}
@media  (max-width: 767px) {
  .showroom__title-container {
    align-items: start;
    flex-direction: column;
  }
  
}
.showroom__title {
  font-family: "ProximaNova-Bold", sans-serif;
  font-size: 40px;
}
@media (min-width: 1024px ) and (max-width: 1439px) {
  .showroom__title {
    font-size: 36px;
  }
}
@media  (min-width: 768px) and (max-width: 1023px) {
  .showroom__title {
    font-size: 36px;
  }
}
@media  (max-width: 767px) {
  .showroom__title {
    font-size: 28px;
  }
}
.showroom__label {
  font-family: "ProximaNova-SemiBold", sans-serif;
  background-color: color_scheme.$accent-color-minor;
  color: color_scheme.$cart-counter-text-color;
  border-radius: 25px;
  padding: 4px 13px;
  font-size: 14px;
  margin-left: 14px;

}
@media  (max-width: 767px) {
  .showroom__label {
    font-size: 12px;
    margin-left: 0px;
  }
}
.showroom__label_disabled {
  display: none;
}
.showroom__sub-title {
  color: color_scheme.$text-color-accent;
  margin-right: 9px;
}
@media (min-width: 1024px ) and (max-width: 1439px) {
  .showroom__sub-title {
    font-size: 14px;
  }
}
.showroom__to-map-link {
  font-family: "ProximaNova-SemiBold", sans-serif;
}
@media  (min-width: 768px) and (max-width: 1023px) {
  .showroom__to-map {

  }
  
}
.showroom__collection-title {
  font-family: "ProximaNova-SemiBold", sans-serif;
  font-size: 22px;
  margin-bottom: 21px;
}
@media (min-width: 1024px ) and (max-width: 1439px) {
  .showroom__collection-title {
    font-size: 20px;
  }
}
@media  (min-width: 768px) and (max-width: 1023px) {
  .showroom__collection-title {
    font-size: 20px;
    margin-bottom: 13px;
  }
}
@media  (max-width: 767px) {
  .showroom__collection-title {
    font-size: 18px;
    margin-bottom: 13px;
  }
}
@media  (max-width: 767px) {
  
  
}
.showroom__tag {
  font-family: "ProximaNova-SemiBold", sans-serif;
}
.showroom__thumbnail-img {
  border-radius: 20px;
}
@media (min-width: 1024px ) and (max-width: 1439px) {
  .showroom__thumbnail-img {
    width: 422px;
    height: 282px;
  }
}
@media  (min-width: 768px) and (max-width: 1023px) {
  .showroom__thumbnail-img {
    width: 302px;
    height: 202px;
  }
  
}
@media  (max-width: 767px) {
  .showroom__thumbnail-img {
    width: 280px;
    height: 188px;
  }
}
.showroom__btn-container {
  align-self: center;
  padding: 20px 0;
}
@media  (max-width: 767px) {
  .showroom__btn-container {
    align-self: center;
    padding: 0px 0;
    width: 100%;
  }
  
}
@media  (max-width: 767px) {
  .showroom__btn {
    display: flex;
    width: 100%;
    padding: 0px 0;
    height: 48px;
    align-items: center;
    justify-content: center;
  }
}
.showroom__play-btn_disabled {
  display: none;
}
.showroom__play-btn {
  position: absolute;
  top: 40%;
  left: 43%;
  opacity: 0.8;
  transition: opacity 0.3s ease;
  &:hover {
    opacity: 1;
  }
}

@media  (min-width: 768px) and (max-width: 1023px) {
  
  
}
@media  (max-width: 767px) {
  
  
}