
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

@font-face {
  font-family: 'ProximaNova-Bold';
  src: url('./fonts/proximanova/ProximaNova-Bold.woff') format('woff'),
  url('./fonts/proximanova/ProximaNova-Bold.woff2') format('woff2');
  font-weight: normal;
	font-style: normal;
}
@font-face {
  font-family: 'ProximaNova-Regular';
  src: url('./fonts/proximanova/ProximaNova-Regular.woff') format('woff'),
  url('./fonts/proximanova/ProximaNova-Regular.woff2') format('woff2');
  font-weight: normal;
	font-style: normal;
}
@font-face {
  font-family: 'ProximaNova-Light';
  src: url('./fonts/proximanova/ProximaNova-Light.woff') format('woff'),
  url('./fonts/proximanova/ProximaNova-Light.woff2') format('woff2');
  font-weight: normal;
	font-style: normal;
}
@font-face {
  font-family: 'ProximaNova-SemiBold';
  src: url('./fonts/proximanova/ProximaNova-Semibold.woff') format('woff'),
  url('./fonts/proximanova/ProximaNova-Semibold.woff2') format('woff2');
  font-weight: normal;
	font-style: normal;
}

@mixin montserrat-semibold {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}