@use '../../color_scheme.scss';

.advantages__list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
@media (min-width: 1024px ) and (max-width: 1439px) {
  .advantages__list {
    flex-wrap: wrap;
    gap: 32px;
  }
}

@media  (min-width: 768px) and (max-width: 1023px) {
  .advantages__list {
    flex-wrap: wrap;
    gap: 32px;
  }
}
@media  (max-width: 767px) {
  .advantages__list {
    flex-wrap: wrap;
    flex-direction: column;
    gap: 16px;
    
  }
}
.advantages__title {
  font-family: 'ProximaNova-SemiBold', sans-serif;
  font-size: 18px;
  text-align: center;
  
}
@media (min-width: 1024px ) and (max-width: 1439px) {
  .advantages__title {
    font-size: 16px;
  }
}
@media  (min-width: 768px) and (max-width: 1023px) {
  .advantages__title {
    font-size: 16px;
  }
} 
@media  (max-width: 767px) {
  .advantages__title {
    text-align: start;
    font-size: 16px;
  }
}
.advantages__item {
  width: 208px;
  height: 128px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  background-color: color_scheme.$card-bg-color;
  border-radius: 20px;
  padding: 16px 0 0 0 ;
  gap: 8px;
  .advantages__title {
    &:nth-child(2) {
      width: 69%;
    }
  }
}
@media (min-width: 1024px ) and (max-width: 1439px) {
  .advantages__item {
    width: 288px;
    height: 128px;
    .advantages__title {
      &:nth-child(2) {
        width: 45%;
      }
    }
  }
}
@media  (min-width: 768px) and (max-width: 1023px) {
  .advantages__item {
    width: 328px;
    height: 128px;
    gap: 10px;
    .advantages__title {
      &:nth-child(2) {
        width: 41%;
      }
    }
  }
}
@media  (max-width: 767px) {
  
  .advantages__item {
    width: 100%;
    height: 56px;
    flex-direction: row;
    border-radius: 16px;
    padding: 0;
    padding-left: 18px;
    gap: 11px;
  }
  
  .advantages__icon {
    img {
      width: 32px;
      height: 32px;
    }
  }
}

.advantages {
  margin-bottom: 158px;
}
@media (min-width: 1024px ) and (max-width: 1439px) {
  .advantages {
    margin-bottom: 119px;
  }
}
@media  (min-width: 768px) and (max-width: 1023px) {
  .advantages {
    margin-bottom: 116px;
  }
  
}
@media  (max-width: 767px) {
  .advantages {
    margin-bottom: 77px;
  }
}
@media (min-width: 1024px ) and (max-width: 1439px) {
  .advantages__container {
    padding-top: 57px;
  }
}

@media  (min-width: 768px) and (max-width: 1023px) {
  
  
}
@media  (max-width: 767px) {
  
  
}