@use '../../color_scheme.scss';

.footer_border {
  border-top: solid 1px color_scheme.$text-color-accent;
  padding: 40px 0;
}
@media  (min-width: 768px) and (max-width: 1023px) {
  .footer_border {
    padding: 33px 0;
  }
}
@media  (max-width: 767px) {
  .footer_border {
    padding: 31px 0;
  }
}
@media  (min-width: 768px) and (max-width: 1023px) {
  .footer__section {
    line-height: 18px;
  }
}
.footer__section-list {
  display: flex;
  flex-direction: column;
  gap: 19px;
}
@media (min-width: 768px ) and (max-width: 1439px) {
  .footer__section-list {
    display: block;
    columns: 3;
  }
}
@media  (max-width: 767px) {
  .footer__section-list {
    gap: 17px;
    padding-top: 0px;
    transition: padding 0.3s ease;
  }
  .footer__section-list-container_open {
    .footer__section-list {
      padding-top: 20px;
    }
  }
  
}
.footer__link-container {
  padding-bottom: 34px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-bottom: 41px;
  border-bottom: solid 1px color_scheme.$footer-border-color;
}
@media (min-width: 1024px ) and (max-width: 1439px) {
  .footer__link-container {
    grid-template-columns: repeat(1, 1fr);
    gap: 32px;
  }
}
@media  (min-width: 768px) and (max-width: 1023px) {
  .footer__link-container {
    grid-template-columns: repeat(1, 1fr);
    gap: 36px;
    margin-bottom: 20px;
  }
}
@media  (max-width: 767px) {
  .footer__link-container {
    
    display: flex;
    flex-direction: column;
    gap: 27px;
    padding-bottom: 24px;
    margin-bottom: 21px;
  }
}
.footer__section-title {
  font-family: 'ProximaNova-SemiBold', sans-serif;
  font-size: 20px;
  margin-bottom: 21px;
}
@media (min-width: 1024px ) and (max-width: 1439px) {
  .footer__section-title {
    font-size: 18px;
  }
}
@media  (min-width: 768px) and (max-width: 1023px) {
  .footer__section-title {
    font-size: 18px;
    margin-bottom: 26px;
  }
}
@media  (max-width: 767px) {
  .footer__section-title {
    font-size: 18px;
    margin-bottom: 0px;
  }
}
.footer__section-item {

}
@media (min-width: 1024px ) and (max-width: 1439px) {
  .footer__section-item {
    margin-bottom: 22px;
  }
}
@media  (min-width: 768px) and (max-width: 1023px) {
  .footer__section-item {
    margin-bottom: 17px;
  }
}
.footer__section.service {
  .footer__section-list {
    display: grid;
    grid-template-columns: repeat(2, 256px);
    
  }
}
@media (min-width: 768px ) and (max-width: 1439px) {
  .footer__section.service {
    .footer__section-list {
      display: block;
      columns: 3;
    }
  }
}
@media  (max-width: 767px) {
  .footer__section.service {
    .footer__section-list {
      display: flex;
      flex-direction: column;
    }
  }
}
.footer__city-wrap,
.footer__phone-wrap,
.footer__email-wrap,
.footer__wathsapp-wrap
 {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 10px;
}
.footer__city-name {
  font-family: 'ProximaNova-SemiBold', sans-serif;
  font-size: 16px;
  
}
@media (min-width: 768px ) and (max-width: 1439px) {
  .footer__city-name {
    font-size: 14px;
  }
}
@media  (max-width: 767px) {
  .footer__city-name {
    font-size: 14px;
  }
}
.footer__phone {
  font-family: 'ProximaNova-SemiBold', sans-serif;
  font-size: 18px;
}

@media (min-width: 768px ) and (max-width: 1439px) {
  .footer__phone {
    font-size: 16px;
  }
}
@media  (max-width: 767px) {
  .footer__phone {
    font-size: 16px;
  }
}
.footer__email {
  font-family: 'ProximaNova-SemiBold', sans-serif;
  font-size: 16px;
}
@media (min-width: 768px ) and (max-width: 1439px) {
  .footer__email {
    font-size: 14px;
  }
}
@media  (max-width: 767px) {
  .footer__email {
    font-size: 14px;
  }
}
.footer__wathsapp {
  font-family: 'ProximaNova-SemiBold', sans-serif;
  font-size: 16px;
}
@media (min-width: 768px ) and (max-width: 1439px) {
  .footer__wathsapp {
    font-size: 14px;
  }
}
@media  (max-width: 767px) {
  .footer__wathsapp {
    font-size: 14px;
  }
}
.footer__section.catalog {
  .footer__section-list-container {
    margin-bottom: 20px;
  }
}
@media  (max-width: 767px) {
  .footer__section.catalog {
    .footer__section-list-container {
      margin-bottom: 0px;
    }
  }
 }
 @media  (max-width: 767px) {
  .footer__section-list-container {
    
  }
 }
.footer__section.about-company {
  padding-left: 40px;
}
@media (min-width: 768px ) and (max-width: 1439px) {
  .footer__section.about-company {
    padding-left: 0;
    margin-top: -9px;
    margin-bottom: 13px;
  }
}
@media  (max-width: 767px) {
  .footer__section.about-company {
    
    padding-left: 0;
    margin-top: 0px;
    margin-bottom: -4px;
  }
}
.footer__section.contacts {
  padding-left: 40px;
  display: flex;
  flex-direction: column;
  gap: 34px;
}
@media (min-width: 1024px ) and (max-width: 1439px) {
  .footer__section.contacts {
    padding-left: 0px;
    flex-direction: row;
    gap: 225px;
  }
}
@media  (min-width: 768px) and (max-width: 1023px) {
  .footer__section.contacts {
    padding-left: 0px;
    flex-direction: row;
    gap: 0px;
  }
}
@media  (max-width: 767px) {
  .footer__section.contacts {
    padding-top: 25px;
    border-top: solid 1px color_scheme.$footer-border-color;
    padding-left: 0px;
    flex-direction: column;
    gap: 23px;
  }
}
.footer__city {
  
}
@media  (min-width: 768px) and (max-width: 1023px) {
  .footer__city {
    margin-right: 145px;
  }
} 
.footer__contact {
  
}
@media  (min-width: 768px) and (max-width: 1023px) {
  .footer__contact {
    margin-right: 72px;
  }
} 
.footer__social {
  
}
@media (min-width: 1024px ) and (max-width: 1439px) {
  .footer__social {
    margin-left: -71px;
  }
}
.footer__social-wrap {
  display: flex;
  flex-direction: row;
  gap: 12px;
}
.footer__contact-wrap {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
@media (min-width: 1024px ) and (max-width: 1439px) {
  .footer__contact-wrap {
    gap: 13px;
  }
}
@media  (min-width: 768px) and (max-width: 1023px) {
  .footer__contact-wrap {
    gap: 11px;
  }
}
.footer-section__btn {
  width: 130px;
  padding-right: 7px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (min-width: 768px ) and (max-width: 1439px) {
  .footer-section__btn {
    width: 113px;
  }
}
@media  (max-width: 767px) {
  .footer-section__btn {
    width: 115px;
  }
}
.footer-section__btn-name {
  font-family: 'ProximaNova-SemiBold', sans-serif;
  font-size: 16px;
}
@media (min-width: 768px ) and (max-width: 1439px) {
  .footer-section__btn-name {
    font-size: 14px;
  }
}
@media  (max-width: 767px) {
  .footer-section__btn-name {
    font-size: 14px;
  }
}
.footer-section__btn-icon {

}

.footer__copyrights {

}
@media  (min-width: 768px) and (max-width: 1023px) {
  .footer__copyrights {
    width: 58%;
  }
}
@media  (max-width: 767px) {
  .footer__copyrights {
    margin-bottom: 9px;
    
  }
}
.footer__company-rate {
  font-family: 'ProximaNova-SemiBold', sans-serif;
  font-size: 28px;
}
@media  (min-width: 768px) and (max-width: 1023px) {
  .footer__company-rate {
    font-size: 24px;
  }
}
@media  (max-width: 767px) {
  .footer__company-rate {
    font-size: 23px;
  }
}
.footer__company-rating-label {

}
.footer__private-policy {

}
.footer__copyrights-wrap {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-right: 42px;
  gap: 35px;
}
@media (min-width: 1024px ) and (max-width: 1439px) {
  .footer__copyrights-wrap {
    font-size: 14px;
  }
}
@media  (min-width: 768px) and (max-width: 1023px) {
  .footer__copyrights-wrap {
    padding-right: 37px;
    align-items: center;
    line-height: 17px;
    gap: 30px;
  }
}
@media  (max-width: 767px) {
  .footer__copyrights-wrap {
    padding-right: 0px;
    align-items: center;
    line-height: 17px;
    gap: 19px;
  }
}
.footer__private-policy {
  a {
    font-family: 'ProximaNova-SemiBold', sans-serif;
  }
}
.footer__company-rating-wrap {
  display: flex;
  align-items: center;
  gap: 8px;
  
}
.footer__company-rate-star-list {
  display: flex;
  align-items: center;
  gap: 2px;
  
}
@media  (min-width: 768px) and (max-width: 1023px) {
  .footer__company-rating-container {
    padding-right: 18px;
  }
}
@media  (max-width: 767px) {
  .footer__company-rating-container {
    line-height: 27px;
    order: -1;
    padding-right: 0px;
  }
}
@media  (min-width: 768px) and (max-width: 1023px) {
  .footer__section.contacts {
    .footer__section-title {
      margin-bottom: 22px;
    }
  }
}

@media  (max-width: 767px) {
 .desktop-footer-catalog {
    display: none;
  }
}

.footer__contacts-container {

}
@media  (max-width: 767px) {
  .footer__contacts-container {
    .footer__section-title {
      margin-bottom: 16px
    }
  }
}
@media (min-width: 1024px ) and (max-width: 1439px) {
  
}
@media  (min-width: 768px) and (max-width: 1023px) {
  
}
@media  (max-width: 767px) {
  
}