@use '../../color_scheme.scss';


.submit {
  margin-bottom: 120px;
}
@media (min-width: 1024px ) and (max-width: 1439px) {
  .submit {
    margin-bottom: 100px;
  }
}
@media  (min-width: 768px) and (max-width: 1023px) {
  .submit {
    margin-bottom: 94px;
  }
}
@media  (max-width: 767px) {
  .submit {
    margin-bottom: 82px;
  }
}
input[type="submit"] {
  cursor: pointer;
}
.submit__container {
  background-color: color_scheme.$submit-bg-color;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px 0;
}
@media (min-width: 1024px ) and (max-width: 1439px) {
  .submit__container{
    padding: 32px 0;
  }
}
@media  (min-width: 768px) and (max-width: 1023px) {
  .submit__container {
    padding: 31px 0;
  }
  
}
@media  (max-width: 767px) {
  .submit__container {
    
    padding: 20px 20px 24px 20px;
  }
}
.submit__title {
  font-family: "ProximaNova-Bold", sans-serif;
  font-size: 48px;
  margin-bottom: 46px;
  
}
@media (min-width: 1024px ) and (max-width: 1439px) {
  .submit__title {
    font-size: 40px;
    margin-bottom: 35px;
  }
}
@media  (min-width: 768px) and (max-width: 1023px) {
  .submit__title {
    font-size: 40px;
    margin-bottom: 35px;
  } 
}
@media  (max-width: 767px) {
  .submit__title {
    font-size: 32px;
    text-align: center;
    margin-bottom: 19px;
  } 
  
}
.submit__form {
  display: grid;
  grid-template-columns: 288px 288px;
  grid-template-rows: repeat(3, 56px);
  align-items: center;
  justify-content: center;
  gap: 23px;
  
 input {
    padding: 0 16px;
    height: 100%;
    background-color: color_scheme.$submit-input-bg-color;
    border-radius: 14px;
    &::placeholder {
      font-size: 16px;
      color: color_scheme.$text-color-accent;
    }
  }
  .submit__form-btn {
    background-color: color_scheme.$accent-color-major;
    align-self: center ;
    justify-self: center;
    width: 202px;
    padding: 16px;
  }
}
@media (min-width: 1024px ) and (max-width: 1439px) {
  .submit__form {
    gap: 20px;
    input {
      &::placeholder {
        font-size: 14px;
      }
    }
    .submit__form-btn {
      width: 195px;
    }
  }
}
@media  (min-width: 768px) and (max-width: 1023px) {
  .submit__form {
    grid-template-columns: 300px 300px;
    gap: 21px;
    input {
      &::placeholder {
        font-size: 14px;
      }
    }
    .submit__form-btn {
      width: 195px;
    }
  }
}
@media  (max-width: 767px) {
  .submit__form {
    grid-template-columns: 100%;
    grid-template-rows: repeat(3, 48px);
    gap: 21px;
    .submit__form-btn {
      width: 100%;
    }
    input {
      border-radius: 8px;
      &::placeholder {
        font-size: 14px;
      }
    }
  }
  
}
.submit__form-name {
  grid-column:  span 2;
}

.submit__form-btn {
  grid-column: span 2;
  
}
.submit__form-agreement {
  grid-column: span 2;
  
}
@media  (max-width: 767px) {
  .submit__form-name {
    grid-column: 1;
  }
  .submit__form-btn {
    grid-column: 1;
    
  }
  .submit__form-agreement {
    text-align: center;
    margin-top: -10px;
    grid-column: 1;
    
  }
}
@media (min-width: 1024px ) and (max-width: 1439px) {
  .submit__form-agreement{
    justify-self: center;
    font-size: 12px;
  }
} 
@media  (min-width: 768px) and (max-width: 1023px) {
  .submit__form-agreement{
    justify-self: center;
    font-size: 12px;
  }
}
@media (min-width: 1024px ) and (max-width: 1439px) {
  
}
@media  (min-width: 768px) and (max-width: 1023px) {
  
  
}
@media  (max-width: 767px) {
  
  
}