@use '../../../color_scheme.scss';

.btn-major {
  font-family: 'ProximaNova-SemiBold', sans-serif;
  background-color: color_scheme.$accent-color-major;
  color: color_scheme.$cart-counter-text-color;
  font-size: 18px;
  border-radius: 16px;
  padding:  17px 56px;
}
@media (min-width: 1024px ) and (max-width: 1439px) {
  .btn-major {
    font-size: 16px;
    padding:  18px 56px;
  }
}
@media  (min-width: 768px) and (max-width: 1023px) {
  .btn-major {
    font-size: 16px;
    padding:  18px 56px;
  }
}
.btn-major:hover {
  
}
